<div class="set phone">
  <% if person.phone_numbers.present? %>
    <% person.phone_numbers.map {|pn| exhibit(pn, self)}.each do |phone_number| %>
      <%= phone_number %>
      <% if person.phone_numbers.length > 1 && phone_number.primary? %>
        <i class="fa fa-check green"></i>
      <% end %>
      <br/>
    <% end %>
  <% else %>
    <%= link_to(_('Click here to add a phone number'), @contact ? edit_contact_path(@contact) : edit_person_path(person)) %>
  <% end %>
</div>

<div class="set email">
  <% if person.email_addresses.present? %>
    <% person.email_addresses.each do |email| next if email.historic? %>
      <%= exhibit(email, self) %>

      <% if person.email_addresses.length > 1 && email.primary? %>
        <i class="fa fa-check green"></i>
      <% end %>
      <br/>
    <% end %>
  <% else %>
    <%= link_to(_('Click here to add an email address'), @contact ? edit_contact_path(@contact) : edit_person_path(person)) %>
  <% end %>
</div>


<%#<a href="" class="icos ico_fb"></a>%>
<%#<a href="" class="icos ico_twitter"></a>%>
<%#<a href="" class="icos ico_linkedin"></a>%>
