<div class="field social_field" data-behavior="field-wrapper social-field" data-network="linkedin">
    <div class="ls">
      <%= builder.label :url, 'LinkedIn' %>
    </div>
    <div class="rs">
      <% if current_user.linkedin_account %>
        <%= builder.text_field :url, placeholder: 'http://' %>
      <% else %>
        <%= link_to(_('Connect to your LinkedIn account to add a url for your contact'), '/auth/linkedin') %>
      <% end %>
      <div class="field_action">
        <%= link_to_remove_fields(builder) %>
      </div>
    </div>
</div>

