<div class="field social_field" data-behavior="field-wrapper social-field" data-network="twitter">
  <div class="ls"><%= builder.label :url, 'Twitter' %></div>
  <div class="rs">
    <%= builder.text_field :screen_name, placeholder: '@' %>
    <div class="field_action" style="<%= no_remove ? 'display:none' : '' %>">
      <%= link_to_remove_fields(builder, no_remove) %>
    </div>
  </div>
</div>
