<span class="actions" style="display:none">
  <%#= link_to(_('Complete Selected'), '#', class: 'btn', data: {behavior: 'bulk_complete'}) %>
  <%= link_to(_('Delete Selected'), '#', class: 'btn', data: {behavior: 'bulk_delete'}) %>
  <%#= link_to(_('Edit Selected'), '#', class: 'btn', data: {behavior: 'bulk_edit'}) %>
</span>
