<%= form_for(task) do |f| %>

  <%= render 'tasks/fields', task: task, f: f %>

  <div class="spacer"></div>

  <div class="actions">
    <%= f.submit _('Save'), :class => "btn" %>
    <%= link_to _('Cancel'), tasks_path, :class=> "btn" %>
  </div>

<% end %>
