<div id="contentbody">

  <div class="wpp">
  <% if !@task.activity_contacts.blank? %>
    <h2><%= @task.activity_contacts.first.contact %></h2>
  <% end %>

  <%= render 'form', task: @task %>

  <%#= link_to _('Cancel'), tasks_path %>
  </div>
</div>
