<%= render 'sidebar' %>
<div id="contentbody" class="withleft">
  <div class="wpp">

    <h1></h1>

    <table width="100%">
      <thead>
        <tr class="taskgroup orange">
          <td colspan="100">
            <%= _('Starred') %>
          </td>
        </tr>
      </thead>
      <tbody class="tablelist tasks">
        <%= render partial: 'task', collection: @tasks %>
      </tbody>
    </table>
  </div>
</div>
