<p>
  The link between MPDX and your Google account has stopped working. If you'd like to continue to have MPDX
  automatically sync with your Google account, please go to <%= link_to(google_integration_url(@google_integration), google_integration_url(@google_integration)) %>
  and click the 'Refresh Google Account' button.  After that, you'll need to manually re-enable any integrations
  that you already set already.
</p>

<p>
  Thanks!<br />
  MPDX Support Team
</p>
