<p>
<%= _("The mailchimp API key associated with your MPDX account is no longer valid.
If you would like Mailchimp syncronization to continue to work, please go to
 %{link} and update your API key.").localize % { link_to(mail_chimp_accounts_url, mail_chimp_accounts_url) } %>
</p>

<p>
  <%= _('Thanks!') %>
  <br />
  <%= _('MPDX Support Team') %>
</p>
