<p>
  The link between MPDX and your prayerletters.com account has stopped working. If you'd like to continue to have MPDX
  automatically push changes over to prayerletters.com, please go to <%= link_to(integrations_settings_url, integrations_settings_url) %>
  and click the 'Enable' button
</p>

<p>
  Thanks!<br />
  MPDX Support Team
</p>
