<% current_account_list.tasks.uncompleted.includes(:contacts).limit(6).tap do |tasks| %>
  <% if tasks.any? %>
    <table class="list tasklist">
      <%= render tasks[0..4] %>
    </table>
  <% else %>
    <%= _("Good news! You don't have any pending tasks.") %>
  <% end %>
  <% if tasks.length > 5 %>
    <div class="seemore">
      <%= link_to(_('See All'), tasks_path) %>
    </div>
  <% end %>
<% end %>
