<p>
  Dear Chalk Line,
  <br/><br/>
  Attached is the paper newsletter list for <%= @name %>.
</p>
<p>
  <%= @name %>, here's the <a href="http://http://www.chalkline.org/order_mpdx.html">Chalk Line order form</a>
  to upload your letter and any special instructions for your order.
  If you need to resend your newsletter list, go to the
  <a href="https://mpdx.org/settings/integrations">MPDX Settings .. Integrations page</a>
  and click "Send Paper Newsletter List" by the Chalk Line logo.
</p>
<p>
  Thanks!
  <br/><br/>
  MPDX Support Team
</p>