<% exhibit(contact, self).tap do |contact_exhibit| %>
  <div class="cols col_50">
    <table class="meta">
      <tr>
        <th colspan="2"><%= _('Addresses') %></th>
      </tr>
      <% contact.addresses.each do |address| %>
        <% exhibit(address, self).tap do |address_exhibit| %>
          <tr>
            <td class="meta_name" nowrap="nowrap">
              <%= _(address.location.present? ? address.location : 'Mailing') %>
              <% if contact.addresses.length > 1 && address.primary_mailing_address? %>
                <i class="fa fa-check green"></i>
              <% end %>
            </td>
            <td class="meta_data">
              <%= address_exhibit.to_html %>
              <br />
              <%= link_to(_('Map It'), "http://maps.google.com?q=#{address_exhibit.to_google}", target: '_blank', class: 'mapit') %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <div class="clr"></div>
<% end %>
