<div class="sfield donor_account_field" data-behavior="field-wrapper">
  <div class="ls">
    <%= builder.label :account_number %>
    <%= builder.text_field :account_number %>
    <div class="field_action">
      <%= link_to_remove_fields(builder) %>
    </div>
  </div>
</div>

