<div id="bulk_edit_modal" title="<%= _('Edit Fields') %>" style="display:none">
  <%= form_for Contact.new, url: bulk_update_contacts_path, remote: true do |f| %>
    <%= hidden_field_tag :bulk_edit_contact_ids %>
    <%= render 'contacts/bulk_fields', f: f %>
  <% end %>
</div>
