<table class="list">
    <tbody ng-repeat="appeal in appeals.appeals">
        <tr>
            <td>
                <div class="actions">
                    <a class="ico ico_edit edit_task" data-id="{{task.id}}" data-remote="true" ng-href="/tasks/{{task.id}}/edit">Edit</a>
                    <a class="ico ico_trash" data-confirm="Are you sure you want to delete this appeal?" data-method="delete" data-remote="true" ng-href="/tasks/{{task.id}}" rel="nofollow">Delete</a>
                </div>
            </td>
            <td style="width: 350px;">
                <strong>{{appeal.name}}</strong>
            </td>
            <td>$20</td>

            <td>
                <div class="appealThermometer">
                    <div class="level">
                    </div>
                </div>
            </td>
            <td>${{appeal.amount}}</td>
        </tr>
    </tbody>
</table>