<div id="complete_task_followup_modal" title="Task" style="display:none">
    <div class="form_wrapper" style="overflow-y:auto; max-height:400px;">

        <p ng-bind="followUpDialogData.message"></p>
        <select ng-show="followUpDialogData.options.length > 0" ng-options="i as i for i in followUpDialogData.options"
                ng-model="followUpDialogResult.select"></select>

        <div ng-show="followUpDialogData.financialCommitment" style="padding-top:10px;">
            <label>Commitment Frequency</label><br>
            <select ng-model="followUpDialogResult.financialCommitment.frequency">
                <option value=""></option>
                <option value="0.23076923076923">Weekly</option>
                <option value="0.46153846153846">Fortnightly</option>
                <option value="1.0">Monthly</option>
                <option value="2.0">Bi-Monthly</option>
                <option value="3.0">Quarterly</option>
                <option value="4.0">Quad-Monthly</option>
                <option value="6.0">Semi-Annual</option>
                <option value="12.0">Annual</option>
                <option value="24.0">Biennial</option>
            </select>

            <div style="padding-top:10px;">
                <label>Commitment Amount</label><br>
                <input type="text" ng-model="followUpDialogResult.financialCommitment.amount"
                       placeholder="<%= TwitterCldr::Shared::Currencies.for_code(current_currency) ?
                                            TwitterCldr::Shared::Currencies.for_code(current_currency)[:symbol] :
                                            current_currency %>">
            </div>
            <div style="padding-top:10px;">
                <label>Commitment Start Date</label><br>
                <input type="text" class="followUpDialogDatepicker" ng-model="followUpDialogResult.financialCommitment.date" style="width:100px;">
            </div>
        </div>

        <div ng-show="followUpDialogData.thankTask" style="padding-top:10px;">
            <hr>
            <input type="checkbox" ng-model="followUpDialogResult.createThankTask"> Create "Thank" task
        </div>
        <div ng-show="followUpDialogResult.createThankTask" style="padding-top:10px;">
            <label>Subject</label><br>
            <input ng-model="followUpDialogResult.thankTask.subject">

            <div style="padding-top:10px;">
                <label>Due date</label><br>
                <input type="text" class="followUpDialogDatepicker" ng-model="followUpDialogResult.thankTask.date">
            </div>

            <div style="padding-top:10px;">
                <label>Comments</label><br>
                <textarea ng-model="followUpDialogResult.thankTask.comments"></textarea>
            </div>
        </div>

        <div ng-show="followUpDialogData.givingTask" style="padding-top:10px;">
            <hr>
            <input type="checkbox" ng-model="followUpDialogResult.createGivingTask"> Create "Setup Giving" task
        </div>
        <div ng-show="followUpDialogResult.createGivingTask" style="padding-top:10px;">
            <label>Subject</label><br>
            <input ng-model="followUpDialogResult.givingTask.subject">

            <div style="padding-top:10px;">
                <label>Due date</label><br>
                <input type="text" class="followUpDialogDatepicker" ng-model="followUpDialogResult.givingTask.date" style="width:100px;">

                <select ng-model="followUpDialogResult.givingTask.hour">
                    <option value="00">12 AM</option>
                    <option value="01">01 AM</option>
                    <option value="02">02 AM</option>
                    <option value="03">03 AM</option>
                    <option value="04">04 AM</option>
                    <option value="05">05 AM</option>
                    <option value="06">06 AM</option>
                    <option value="07">07 AM</option>
                    <option value="08">08 AM</option>
                    <option value="09">09 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">01 PM</option>
                    <option value="14">02 PM</option>
                    <option value="15">03 PM</option>
                    <option value="16">04 PM</option>
                    <option value="17">05 PM</option>
                    <option value="18">06 PM</option>
                    <option value="19">07 PM</option>
                    <option value="20">08 PM</option>
                    <option value="21">09 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11 PM</option>
                </select>
                :
                <select ng-model="followUpDialogResult.givingTask.min">
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                </select>
            </div>

            <div style="padding-top:10px;">
                <label>Action</label><br>
                <select ng-model="followUpDialogResult.givingTask.type">
                    <option value=""></option>
                    <option value="Email">Email</option>
                    <option value="Text Message">Text Message</option>
                    <option value="Facebook Message">Facebook Message</option>
                    <option value="Letter">Letter</option>
                    <option value="To Do">To Do</option>
                </select>
            </div>

            <div style="padding-top:10px;">
                <label>Comments</label><br>
                <textarea ng-model="followUpDialogResult.givingTask.comments"></textarea>
            </div>
        </div>



        <div ng-show="followUpDialogData.apptTask" style="padding-top:10px;">
            <hr>
            <input type="checkbox" ng-model="followUpDialogResult.createApptTask"> Create "Appointment" task
        </div>
        <div ng-show="followUpDialogResult.createApptTask" style="padding-top:10px;">
            <label>Subject</label><br>
            <input ng-model="followUpDialogResult.apptTask.subject">

            <div style="padding-top:10px;">
                <label>Due date</label><br>
                <input type="text" class="followUpDialogDatepicker" ng-model="followUpDialogResult.apptTask.date" style="width:100px;">

                <select ng-model="followUpDialogResult.apptTask.hour">
                    <option value="00">12 AM</option>
                    <option value="01">01 AM</option>
                    <option value="02">02 AM</option>
                    <option value="03">03 AM</option>
                    <option value="04">04 AM</option>
                    <option value="05">05 AM</option>
                    <option value="06">06 AM</option>
                    <option value="07">07 AM</option>
                    <option value="08">08 AM</option>
                    <option value="09">09 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">01 PM</option>
                    <option value="14">02 PM</option>
                    <option value="15">03 PM</option>
                    <option value="16">04 PM</option>
                    <option value="17">05 PM</option>
                    <option value="18">06 PM</option>
                    <option value="19">07 PM</option>
                    <option value="20">08 PM</option>
                    <option value="21">09 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11 PM</option>
                </select>
                :
                <select ng-model="followUpDialogResult.apptTask.min">
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                </select>
            </div>

            <div style="padding-top:10px;">
                <label>Comments</label><br>
                <textarea ng-model="followUpDialogResult.apptTask.comments"></textarea>
            </div>
        </div>

        <div ng-show="followUpDialogData.callTask" style="padding-top:10px;">
            <hr>
            <input type="checkbox" ng-model="followUpDialogResult.createCallTask"> Create "{{followUpDialogResult.callTask.type}}" task
        </div>
        <div ng-show="followUpDialogResult.createCallTask" style="padding-top:10px;">
            <label>Subject</label><br>
            <input ng-model="followUpDialogResult.callTask.subject">

            <div style="padding-top:10px;">
                <label>Due date</label><br>
                <input type="text" class="followUpDialogDatepicker" ng-model="followUpDialogResult.callTask.date"style="width:100px;">

                <select ng-model="followUpDialogResult.callTask.hour">
                    <option value="00">12 AM</option>
                    <option value="01">01 AM</option>
                    <option value="02">02 AM</option>
                    <option value="03">03 AM</option>
                    <option value="04">04 AM</option>
                    <option value="05">05 AM</option>
                    <option value="06">06 AM</option>
                    <option value="07">07 AM</option>
                    <option value="08">08 AM</option>
                    <option value="09">09 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">01 PM</option>
                    <option value="14">02 PM</option>
                    <option value="15">03 PM</option>
                    <option value="16">04 PM</option>
                    <option value="17">05 PM</option>
                    <option value="18">06 PM</option>
                    <option value="19">07 PM</option>
                    <option value="20">08 PM</option>
                    <option value="21">09 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11 PM</option>
                </select>
                :
                <select ng-model="followUpDialogResult.callTask.min">
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                </select>
            </div>

            <div style="padding-top:10px;">
                <label>Tags</label><br>
                <input ng-model="followUpDialogResult.callTask.tags">
            </div>

            <div style="padding-top:10px;">
                <label>Comments</label><br>
                <textarea ng-model="followUpDialogResult.callTask.comments"></textarea>
            </div>
        </div>

        <div ng-show="followUpDialogData.newsletter" style="padding-top:10px;">
            <hr>
            <input type="checkbox" ng-model="followUpDialogResult.newsletterSignup"> Add contact(s) to newsletter list
        </div>
        <div ng-show="followUpDialogResult.newsletterSignup" style="padding-top:10px;">
            <label>Newsletter type</label>
            <select ng-model="followUpDialogResult.newsletter.type"><option value=""></option>
                <option value="Physical">Physical</option>
                <option value="Email">Email</option>
                <option value="Both">Both</option></select>
        </div>
    </div>




    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" ng-click="followUpSaveFunc()">
                <span class="ui-button-text">Save</span></button>
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false" onClick="jQuery('#complete_task_followup_modal').dialog('close');">
                <span class="ui-button-text">Cancel</span></button>
        </div>
    </div>
</div>