<td class="check" ng-show="!task.completed">
    <a name="task_{{task.id}}"/>
    <input type="checkbox" name="task_ids[]" value="{{task.id}}" data-behavior="complete_task" data-results="{{completeResultOptions.join()}}"  data-actions="{{completeActionOptions.join()}}" data-id="{{task.id}}" data-title="{{task.activity_type + ' ' + task.subject}}" />
</td>
<td class="data">
    <div class="primary">
        <i class="fa fa-lg fav" ng-class="{'fa-star-o': !task.starred, 'fa-star': task.starred}" ng-click="starTask()"></i>
        <a class="comment_status" href="" ng-click="visibleComments=!visibleComments; visibleContactInfo=false"><span id="comment_count_2">{{task.comments.length}}</span></a>

        <div class="actions">
            <a class="ico ico_edit edit_task" data-id="{{task.id}}" data-remote="true" ng-href="/tasks/{{task.id}}/edit">Edit</a>
            <a class="ico ico_trash" data-confirm="Are you sure you want to delete this task instead of marking it as completed?" data-method="delete" data-remote="true" ng-href="/tasks/{{task.id}}" rel="nofollow">Delete</a>
        </div>
        <span ng-hide="task.activity_type === ''">{{task.activity_type}}</span>
        <strong><span class="tasktitle">{{task.subject}}</span></strong>
        <span ng-show="task.completed">- {{task.result}} {{task.next_action}} - {{task.completed_at | ignoreTimezone | date:'MM/dd/yyyy, h:mma'}}</span>
        <span ng-show="!task.completed">- {{task.due_date | ignoreTimezone | date:'MM/dd/yyyy, h:mma'}}</span>

        <div style="display:inline" class="tags">
            <a class="tag" ng-repeat-start="tag in task.tag_list">{{tag}}</a>
            <span ng-repeat-end> </span>
        </div>
        <span class="people" ng-show="task.contacts.length > 0">(<span ng-repeat="contact in task.contacts"><span ng-show="!$first">, </span><a ng-click="showContactInfo(contact)" ng-bind="contacts[contact]" href="" title="Click to view contact details"></a></span>)</span>
    </div>

    <div ng-show="visibleContactInfo" class="contact-info">
        <a class="corner_close" href="" ng-click="visibleContactInfo=false">close</a>
        <h2><a ng-href="/contacts/{{contactInfo.contact.id}}">{{contactInfo.contact.name}}</a></h2>
        <div style="width:100%; display: block;">
            <div class="column">
                <p ng-repeat="address in contactInfo.addresses | filter: { historic: false }">
                    <strong>{{address.location}} Address</strong> <i class="fa fa-check green" ng-show="address.primary_mailing_address"></i>
                    <br>
                    {{address.street}}<br>{{address.city}}, {{address.state}} {{address.postal_code}} {{address.country}}
                </p>
                <p ng-show="!contactInfo.addresses.length">No mailing address</p>

            </div>
            <div class="column">
                <p ng-repeat="referrer in contactInfo.contact.referrals_to_me_ids">
                    <strong>Referrer:</strong><br>
                    <a ng-href="/contacts/{{referrer.id}}">{{referrer.name}}</a>
                </p>
            </div>
        </div>
        <div class="person"  ng-repeat="p in contactInfo.people">
            <div class="social-icons">
                <a class="facebook" ng-href="http://facebook.com/profile.php?id={{account.remote_id}}" target="_blank" ng-repeat="account in p.facebook_accounts">f</a>
            </div>

            <div class="avatar">
                <a ng-href="/people/{{p.id}}"><img alt="Avatar" class="person_avatar" ng-src="{{p.avatar}}"></a>
            </div>

            <div class="name">
                <a ng-href="/people/{{p.id}}">{{p.first_name}} {{p.last_name}}</a>
            </div>

            <div class="column-inner">
                <p ng-repeat="phone in p.phone_numbers">
                    <strong>Phone ({{phone.location}})</strong><br>
                    {{phone.number}} <i class="fa fa-check green" ng-show="phone.primary"></i>
                </p>
                <p ng-show="!p.phone_numbers.length">No phone number</p>

                <p>
                    <span ng-repeat="email in p.email_addresses">
                        <a ng-href="mailto:{{email.email}}">{{email.email}}</a> <i class="fa fa-check green" ng-show="email.primary"></i><br>
                    </span>

                    <span ng-show="!p.email_addresses.length">
                        <%= _('No email address') %>
                    </span>
                </p>
            </div>
        </div>

    </div>

    <div class="comments" ng-show="visibleComments">
        <div id="comment_list_2">
            <div class="comment" ng-repeat="comment in task.comments">
                <a class="corner_close" data-confirm="Are you sure?" data-method="delete" data-remote="true" data-selector=".comment" ng-href="/activity_comments/{{comment}}?activity_id={{getComment(comment).activity_id}}" rel="nofollow">delete</a>
                <i class="fa fa-comments-o fa-lg pull-left"></i>

                <div class="body">
                    <strong>{{getPerson(getComment(comment).person_id).name}}</strong>
                    <p ng-bind="getComment(comment).body"></p>
                </div>
                <span class="time">{{getComment(comment).created_at | date:'MM/dd/yyyy, h:mma'}}</span>
            </div>
        </div>

        <div class="comment_form">
            <form ng-submit="postNewComment()">
                <div style="margin:0;padding:0;display:inline"></div>
                <textarea ng-model="postNewCommentMsg"></textarea>

                <div class="buttons">
                    <button class="btn smallbtn">Add Comment</button>
                </div>
            </form>
        </div>
    </div>
</td>
