$ ->
  if $('.contacts_controller')[0]?

    if $('#contacts_index')[0]?
      # quick search for contact
      $('#contact_name').autocomplete({
        source: contacts_json,
        select: (event, ui) ->
          document.location = '/contacts/' + ui.item.value
          false
      })

      # check all feature
      $(document).on 'click', '.checkall', ->
        $('.checks input[type=checkbox]').prop('checked', $(this).prop('checked'))
        if $(this).prop('checked')
          $('.actionbtn').show()
          $('#select_more').show()
        else
          $('.actionbtn').hide()
          $('#select_more').hide()

        $.mpdx.updateSelectedContactIds()

      $(document).on 'click', '.checks input[type=checkbox]', ->
        if $('.checks input').is(':checked')
          $('.actionbtn').show()
        else
          $('.actionbtn').hide()
          $('#select_more').hide()
          $('.checkall').prop('checked', false)

        $.mpdx.updateSelectedContactIds()

      $(document).on 'click', '[data-behavior=select_all]', ->
        $('#select_all_prompt').hide()
        $('#clear_selection_prompt').show()
        ids = []
        $.each(contacts_json, ->
          ids.push(this.value)
        )
        $('#selected_ids').val(ids.join(','))

      $(document).on 'click', '[data-behavior=clear_selection]', ->
        $('#select_more').hide()
        $('.checkall').prop('checked', false)
        $('.checks input[type=checkbox]').prop('checked', false)
        $('#select_all_prompt').show()
        $('#clear_selection_prompt').hide()
        $('#selected_ids').val('')

      # Actions
      $(document).on 'click', '.actionbtn', ->
        $('.action_list').toggle()
        $(this).toggleClass('on')
        false

      $(document).on 'click', '[data-behavior=add_tag_to_list]', ->
        $('#add_tag_modal #add_tag_contact_ids').val($('#selected_ids').val())
        $('#add_tag_modal').dialog {
          buttons: [
            {
              text: __('Add Tag')
              click: (e) ->
                return false if $.trim($('#add_tag_name').val()) == ''
                $(this).dialog( "option", "title", '<%= image_tag('spinner.gif') %>')
                $(this).dialog( "option", "buttons", [])
                $('form', this).submit()
            },
            {
              text: __('Cancel')
              click: ->
                $(this).dialog("close")
            }
          ]
        }
        $('#add_tag_name').focus()
        false

      $(document).on 'click', '[data-behavior=remove_tag_from_list]', ->
        $('#remove_tag_modal #remove_tag_contact_ids').val($('#selected_ids').val())
        $('#remove_tag_modal').dialog {
          buttons: [
            {
              text: __('Cancel')
              click: ->
                $(this).dialog("close")
            }
          ]
        }
        $('a').blur()
        false


      $(document).on 'click', '#add_tag_modal .tag', ->
        $('#add_tag_name').val($(this).attr('data-name'))
        modal = $('#add_tag_modal')
        modal.dialog( "option", "title", '<%= image_tag('spinner.gif') %>')
        modal.dialog( "option", "buttons", [])
        $('form', modal).submit()
        false

      $(document).on 'click', '#remove_tag_modal .tag', ->
        $('#remove_tag_name').val($(this).attr('data-name'))
        modal = $('#remove_tag_modal')
        modal.dialog( "option", "title", '<%= image_tag('spinner.gif') %>')
        modal.dialog( "option", "buttons", [])
        $('form', modal).submit()
        false

    if $('#contacts_show')[0]?
      # Filter contact list
      $(document).on 'keyup', '#contact_name', ->
        name = $(this).val()
        regex = new RegExp('.*' + name + '.*', 'i')
        $('[data-hook=contact]').each ->
          if regex.test($('[data-name]', this).attr('data-name'))
            $(this).show()
          else
            $(this).hide()

      # autosave contact notes
      $(document).on 'keydown', 'textarea.contact_notes', ->
        $('input[type=submit]', $(this).closest('form')).prop('disabled', false)

      $('textarea.contact_notes').observe_field 500, ->
        form$ = $(this).closest('form')
        $('input[type=submit]', form$).prop('disabled', true)
        form$.submit()

      $(window).on 'statechange', ->
        state = History.getState()
        if $('#contentbody').attr('data-contact-id')
          unless Number(state.data.contact_id) == Number($('#contentbody').attr('data-contact-id'))
            $('a[data-id=' + state.data.contact_id + ']').click()
        else
          document.location = State.url

      $(document).on 'tabsshow', '#contact', (event, ui)->
        switch ui.tab.hash
          when '#donations-tab'
            $.mpdx.loadDonations()
          when '#stream-tab'
            $.mpdx.loadSocialStream()

      switch window.location.hash
        when '#donations-tab', ''
          $.mpdx.loadDonations()
        when '#stream-tab'
          $.mpdx.loadSocialStream()

      $(document).on 'click', '.next_page', ->
        $(this).replaceWith('<%= image_tag('spinner.gif', class: 'spinner') %>')

    $('.country_select').selectToAutocomplete()

    $(document).on 'click', 'input.primary', ->
      if $(this).prop('checked',true)
        fieldset = $(this).closest('.fieldset')
        $('input[type=checkbox].primary', fieldset).prop('checked',false)
        $(this).prop('checked', true)

    $(document).on 'click', 'td.qaction a.quick', ->
      td = $(this).closest('td')
      $('td.qaction[id!='+td.attr('id')+'] .quick_action_list').hide()
      $('td.qaction[id!='+td.attr('id')+'] a.quick').removeClass('on')
      $('.quick_action_list', td).toggle()
      $(this).toggleClass('on')
      false

    $('td.qaction').hoverIntent {
      over: ->{},
      timeout: 500,
      out: ->
        $('.quick_action_list', $(this)).hide()
        $('a.quick', $(this)).removeClass('on')
    }

    <%#$(document).on 'focus', '[data-behavior*=social-field]', ->%>
      <%#wrapper = $(this).closest('[data-behavior*=field-wrapper]')%>

      <%#unless $('[data-behavior=suggestions]', wrapper)[0]?%>
        <%#fieldset = $(this).closest('.inside_person')%>
        <%#div = $('<div data-behavior="suggestions"></div>')%>
        <%#wrapper.append(div)%>
        <%#$.ajax {%>
          <%#url: '/contacts/social_search',%>
          <%#data: {%>
            <%#network: wrapper.attr('data-network'),%>
            <%#first_name: $('.first_name', fieldset).val(),%>
            <%#last_name: $('.last_name', fieldset).val()%>
          <%#},%>
          <%#dataType: 'html',%>
          <%#success: (data) ->%>
            <%#div.append(data)%>
            <%#wrapper.append(div)%>
          <%#,%>
          <%#error: () ->%>
            <%## do nothing%>
        <%#}%>
      <%#$('[data-behavior=suggestions]', this).show()%>

    <%#$(document).on 'blur', '[data-behavior*=social-field]', ->%>
      <%#$('[data-behavior=suggestions]', this).hide()%>
$.mpdx.updateSelectedContactIds = ->
  ids = []
  $('[name="contact_ids[]"]:checked').each ->
    ids.push($(this).val())
  $('#selected_ids').val(ids.join(','))

