
$white: #FFF;
$black: #000;
$gray: #929497;
$gray_lightest: #f5f5f5;;
$gray_light: #E6E7E8;;
$gray_mid: #BBBDBF;
$gray_dark: #58595B;
$gray_socialcommentbox: #F1F1F2;
$blue: #0084A3;
$blue_light: #D6ECF2;
$blue_dark: #00566D;
$blue_comments: #e7f8ff;
$green: #56AA00;
$green_dark: #437C00;
$green_darkest: #3C6B00;
$error_red: #c63333;

$page_bg: #F7F7F7;
$content_bg: $white;

$type: #58595B;
$links: $blue;
$menu_links: $white;
$module_titles: $white;
$border: #929497;

$maxwidth: 960px/* 1200px */;
$sidebarwidth: 330px;
$sidebarmargins: 15px;
$borders: #ccc;
$bodywidth: 870px;
$leftmenuwidth: 200px;

.cols {float: left; margin-right: 2%; vertical-align: top;}
.cols:last-child {margin-right: 0;}
.col_25 {width: 23%;}
.col_50 {width: 48%;}
.col_30 {width: 30%;}
.col_33 {width: 30%;}

@mixin listclear {list-style: none; margin: 0; padding: 0;}

.avatar.small {width: 50px; height: 50px}
.avatar.mid {width: 125px;}
.avatar.large {width: 200px;}



/* ************************************************************** */

.logo {width: 83px; height: 21px; background: image-url("mpdx.png") no-repeat;}

/* ************************************************************** */


.btn {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  padding: 8px 15px;
  width: auto;
  display: inline-block;}
.btn:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd; }
.btn:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }

.btndark {
  background-color: #555;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9B9B9B), color-stop(100%, #686868));
  background-image: -webkit-linear-gradient(top, #9B9B9B, #686868);
  background-image: -moz-linear-gradient(top, #9B9B9B, #686868);
  background-image: -ms-linear-gradient(top, #9B9B9B, #686868);
  background-image: -o-linear-gradient(top, #9B9B9B, #686868);
  background-image: linear-gradient(top, #9B9B9B, #686868);
  border-color: #555;
}
.btndark:hover {
  background-color: #555;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #686868), color-stop(100%, #9B9B9B));
  background-image: -webkit-linear-gradient(top, #686868, #9B9B9B);
  background-image: -moz-linear-gradient(top, #686868, #9B9B9B);
  background-image: -ms-linear-gradient(top, #686868, #9B9B9B);
  background-image: -o-linear-gradient(top, #686868, #9B9B9B);
  background-image: linear-gradient(top, #686868, #9B9B9B);
}

.btngreen {
  background: $green;
  background-image: -webkit-linear-gradient(top, $green, $green_dark);
  background-image: -moz-linear-gradient(top, $green, $green_dark);
  background-image: -ms-linear-gradient(top, $green, $green_dark);
  background-image: -o-linear-gradient(top, $green, $green_dark);
  background-image: linear-gradient(top, $green, $green_dark);
  color: $white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  border: 1px solid $green_dark;
}

.btngreen:hover {
  background: $green;
  background-image: -webkit-linear-gradient(top, $green_dark, $green);
  background-image: -moz-linear-gradient(top, $green_dark, $green);
  background-image: -ms-linear-gradient(top, $green_dark, $green);
  background-image: -o-linear-gradient(top, $green_dark, $green);
  background-image: linear-gradient(top, $green_dark, $green);
  border: 1px solid $green_dark;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

.smallbtn {
  font-size: 11px;
  padding: 4px 8px;
}


/* ************************************************************** */

.actions {
  display: inline-block;
}
.inlineaction {
  width: 14px;
  height: 14px;
  background: no-repeat 50% 50%;
  display: inline-block;
  text-indent: -1000px;
  overflow: hidden;
}
.inlineaction.delete {
  background-image: image-url("delete.png");
}

#select_more {
  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

.green { color: $green; }
.green_dark { color: $green_dark; }
.green_darkest { color: $green_darkest; }
.red { color: $error_red }

input:read-only{
  background-color: #d3d3d3;
}

.appealThermometer {
  height: 15px;
  width: 100px;
  margin: 0 10px;
  padding: 0;
  border: #cccccc solid 1px;
  .level {
    height: 15px;
    margin: 0;
    padding: 0;
    border-right: 1px solid #666666;
    background: #ffcccc;
    text-align: right;
  }
}

.appealFilterCol {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  height: 310px;
  overflow-y: auto;
}