/* Based on http://twitter.github.io/typeahead.js/css/examples.css */

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  text-align: left;
  width: 15em;
  margin-top: 10px;
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.tt-suggestion {
  padding: 3px 20px;
  border-bottom: 1px solid #ccc;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}