<div style="float:left">
  <%= page_entries_info objects %>
  <%= will_paginate(objects) if !params[:per_page] || (params[:per_page] && params[:per_page] != 'All') %>
</div>
<div style="float:right"><%= _('Show:') %> <%= select_tag(:per_page, options_for_select(['25', '50', '100', [_('All'), 'All']], params[:per_page])) %></div>

