<li ng-class="{'selected': contactQuery.tags[0]}">
  <span class="tags menu_item"><%= _('Tags') %></span>
  <ul class="left_taglist tags">
    <li>
      <% tags.each do |tag|
        # toggle tag on / off
        url_params = {}.merge(params.except(:action, :controller, :page))
        url_params['filters'] = {}.merge(filters_params)
        tag_params.to_s.split(',').tap do |tags|
          if tags.include?(tag)
            url_params['filters']['tags'] = (tags - [tag]).join(',')
          else
            url_params['filters']['tags'] = (tags + [tag]).join(',')
          end %>

          <a class="tag" href="#" ng-class="{'selected': tagIsActive('<%= tag %>')}" ng-click="tagClick('<%= tag %>')"><%= tag %></a>
        <% end %>
      <% end %>
    </li>
  </ul>
</li>
