<script type="text/javascript" charset="utf-8">
  var account_contacts_json = <%= contacts_for_filter.collect { |c| {value: c.name, id: c.id} }.to_json.html_safe %>
</script>
<br>
<p>
  <%= _('Choose one of your contacts from the list below. MPDX will then display the information currently on file for that contact in the donation system.') %>
</p>

<div id="contact_drawer">
  <div class="filters">
    <%= text_field_tag :contact_name, '', autocomplete: 'off', placeholder: _('Type to search'), class: "search_filter" %>
  </div>
  <ul class="contact_list">
    <% contacts_for_filter.each do |contact| %>
      <li data-hook="contact"><%= link_to(truncate(contact.to_s, :length => 30), search_research_path(contact), data: {name: contact.to_s, id: contact.id}, remote: true) %></li>
    <% end %>
  </ul>
</div>